
/****************************************
 * workbench-editor-toolbar
 ****************************************/
.amh-mini-toolbar {
	height: 24px; 
	min-height: 24px;
	overflow: hidden;
	font-size: 12px;
}

.amh-mini-toolbar .avatar{
	height: 22px; 
	width: 22px;
	border-radius: 50%;
}


.amh-mini-toolbar md-menu.account{
	background-color: #ffffff11;
	padding: 0px 3px;
	margin: 0px 1px;
	border-radius: 4px;
}

.amh-mini-toolbar>* {
	max-height: 22px !important;
}


@media print {
	.amh-mini-toolbar {
		display: none;
	}
}
 