/*
Rules for sizing the icon.
*/
.wb-18 {
	font-size: 18px;
}

.wb-24 {
	font-size: 24px;
}

.wb-36 {
	font-size: 36px;
}

.wb-48 {
	font-size: 48px;
}

.wb-64 {
	font-size: 64px;
}

.wb-128 {
	font-size: 128px;
}

