<md-toolbar
	id="amh.workbench.toolbar"
	class="md-primary md-hue-2 wb-layer-tool-bottom workbench-vertical-toolbar	"
	layout="column"
	layout-align="start center">
	<!-- maso, 2019: add all action from amh.workbench.toolbar -->
	<mb-mini-action-anchor
		mb-action-group="amh.workbench.toolbar"
		layout="column"
		layout-align="start center">
	</mb-mini-action-anchor>
	<span flex></span>
	<!-- maso, 2019: add all action from amh.workbench.toolbar#advance -->
	<mb-mini-action-anchor
		mb-action-group="amh.workbench.toolbar#advance"
		layout="column"
		layout-align="start center">
	</mb-mini-action-anchor>
</md-toolbar>
