<md-expansion-panel-group 
	 id="WB-SETTING-PANEL">
	<md-expansion-panel
		ng-repeat="setting in settings| orderBy:priority track by setting.type"
		ng-show="setting.visible">
		<md-expansion-panel-collapsed>
			<div
				layout="row"
				layout-align="start center">
				<wb-icon size="12px" ng-if="setting.icon">{{setting.icon}}</wb-icon>
				<div class="md-title" translate="" flex>{{setting.label}}</div>
				<md-tooltip md-direction="left">
					<span translat="">{{setting.description || setting.label}}</span>
				</md-tooltip>
			</div>
		</md-expansion-panel-collapsed>
		<md-expansion-panel-expanded>
			<md-expansion-panel-header
				ng-click="$panel.collapse()">
				<div
					layout="row"
					layout-align="start center">
					<wb-icon size="12px" ng-if="setting.icon">{{setting.icon}}</wb-icon>
					<div class="md-title" translate="" flex>{{setting.label}}</div>
				</div>
			</md-expansion-panel-header>
			<md-expansion-panel-content 
				layout="column"
				style="padding: 2px;">
				<wb-setting-page
					ng-model="wbModel"
					wb-type="{{setting.type}}">
				</wb-setting-page>
			</md-expansion-panel-content>
		</md-expansion-panel-expanded>
	</md-expansion-panel>
</md-expansion-panel-group >
