<div 
	layout="column">
	<!-- Action bar -->
	<md-toolbar
		ng-show="!(showSearch||showSort||showState)">
		<div class="md-toolbar-tools">
			<h3 flex translate>Widgets</h3>
		    <md-button 
		    	class="md-icon-button" 
		    	aria-label="Search" 
		    	ng-click="showSearch = !showSearch">
		    	<wb-icon>search</wb-icon>
		    </md-button>
		    <md-divider></md-divider>
			<md-button 
				ng-click="wbWidgetExplorer._view_list=!wbWidgetExplorer._view_list"
				class="md-icon-button" 
				aria-label="View mode">
				<wb-icon>{{wbWidgetExplorer._view_list ? 'view_module' : 'view_list'}}</wb-icon>
			</md-button>
			
			<md-button 
				ng-click="wbWidgetExplorer._tree_mode=!wbWidgetExplorer._tree_mode"
				class="md-icon-button" 
				aria-label="Tree mode">
				<wb-icon>{{wbWidgetExplorer._tree_mode? 'list' : 'list_tree'}}</wb-icon>
			</md-button>
		</div>
	</md-toolbar>
		
	<!-- 	Search -->
	<md-toolbar 
		class="md-hue-1" 
		ng-show="showSearch">
		<div class="md-toolbar-tools">
			<md-button 
	    		class="md-icon-button" 
				ng-click="showSearch = !showSearch" 
				aria-label="Back">
				<wb-icon>arrow_back</wb-icon>
			</md-button>
			<md-input-container md-theme="input" flex>
				<label>&nbsp;</label>
				<input
					ng-model="query" 
					ng-keyup="runQuery(query, $event)">
			</md-input-container>
			<md-button 
	    		class="md-icon-button" 
				aria-label="Search" 
				ng-click="showSearch = !showSearch">
				<wb-icon>search</wb-icon>
			</md-button>
		</div>
	</md-toolbar>
	
	
	
	
	<md-content>
		<md-expansion-panel-group
			ng-if="wbWidgetExplorer._tree_mode">
			<md-expansion-panel
				ng-repeat="group in groups">
				<md-expansion-panel-collapsed>
					<span translate>{{group.title || group.id}}</span>
				</md-expansion-panel-collapsed>
				<md-expansion-panel-expanded>
					<md-expansion-panel-header>
						<span translate>{{group.title || group.id}}</span>
					</md-expansion-panel-header>
					<md-expansion-panel-content
						style="padding: 0px; margin: 0px;">
						<wb-widgets-list 
							ng-if="wbWidgetExplorer._view_list"
							widgets="group.widgets">
						</wb-widgets-list>
						<wb-widgets-module
							ng-if="!wbWidgetExplorer._view_list"
							widgets="group.widgets">
						</wb-widgets-module>
					</md-expansion-panel-content>
				</md-expansion-panel-expanded>
			</md-expansion-panel>
		</md-expansion-panel-group>
			
		<wb-widgets-list 
			ng-if="!wbWidgetExplorer._tree_mode &amp;&amp; wbWidgetExplorer._view_list"
			widgets="widgets">
		</wb-widgets-list>
		<wb-widgets-module
			ng-if="!wbWidgetExplorer._tree_mode &amp;&amp; !wbWidgetExplorer._view_list"
			widgets="widgets">
		</wb-widgets-module>
	</md-content>
</div>
	
