<fieldset
	layout="column">
	<legend translate>Animation</legend>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.animation"
		ng-change="ctrl.setStyle('animation', ctrl.stylesValue.animation)"
		wb-title="Animation"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.animationName"
		ng-change="ctrl.setStyle('animationName', ctrl.stylesValue.animationName)"
		wb-title="Name"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.animationDuration"
		ng-change="ctrl.setStyle('animationDuration', ctrl.stylesValue.animationDuration)"
		wb-title="Duration"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.animationTimingFunction"
		ng-change="ctrl.setStyle('animationTimingFunction', ctrl.stylesValue.animationTimingFunction)"
		wb-title="Timing Function"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.animationDelay"
		ng-change="ctrl.setStyle('animationDelay', ctrl.stylesValue.animationDelay)"
		wb-title="Delay"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.animationIterationCount"
		ng-change="ctrl.setStyle('animationIterationCount', ctrl.stylesValue.animationIterationCount)"
		wb-title="Iteration Count"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.animationDirection"
		ng-change="ctrl.setStyle('animationDirection', ctrl.stylesValue.animationDirection)"
		wb-title="Direction"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.animationFillMode"
		ng-change="ctrl.setStyle('animationFillMode', ctrl.stylesValue.animationFillMode)"
		wb-title="Fill Mode"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.animationPlayState"
		ng-change="ctrl.setStyle('animationPlayState', ctrl.stylesValue.animationPlayState)"
		wb-title="Play State"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Transform</legend>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.transform"
		ng-change="ctrl.setStyle('transform', ctrl.stylesValue.transform)"
		wb-title="Play State"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.transformOrigin"
		ng-change="ctrl.setStyle('transformOrigin', ctrl.stylesValue.transformOrigin)"
		wb-title="Play State"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.transformStyle"
		ng-change="ctrl.setStyle('transformStyle', ctrl.stylesValue.transformStyle)"
		wb-title="Play State"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
</fieldset>


<fieldset
	layout="column">
	<legend translate>Transition</legend>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.transition"
		ng-change="ctrl.setStyle('transition', ctrl.stylesValue.transition)"
		wb-title="Play State"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.transitionProperty"
		ng-change="ctrl.setStyle('transitionProperty', ctrl.stylesValue.transitionProperty)"
		wb-title="Play State"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.transitionDuration"
		ng-change="ctrl.setStyle('transitionDuration', ctrl.stylesValue.transitionDuration)"
		wb-title="Play State"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.transitionTimingFunction"
		ng-change="ctrl.setStyle('transitionTimingFunction', ctrl.stylesValue.transitionTimingFunction)"
		wb-title="Play State"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.transitionDelay"
		ng-change="ctrl.setStyle('transitionDelay', ctrl.stylesValue.transitionDelay)"
		wb-title="Play State"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
</fieldset>
