<fieldset
	layout="column">
	<legend translate>Border</legend>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.border"
		ng-change="ctrl.setStyle('border', ctrl.stylesValue.border)"
		wb-title="Boarder"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderWidth"
		ng-change="ctrl.setStyle('borderWidth', ctrl.stylesValue.borderWidth)"
		wb-title="Width"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderStyle"
		ng-change="ctrl.setStyle('borderStyle', ctrl.stylesValue.borderStyle)"
		wb-title="Style"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-color
		ng-model="ctrl.stylesValue.borderColor"
		ng-change="ctrl.setStyle('borderColor', ctrl.stylesValue.borderColor)"
		wb-title="Color"
		wb-description="">
	</wb-ui-setting-color>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderCollapse"
		ng-change="ctrl.setStyle('borderCollapse', ctrl.stylesValue.borderCollapse)"
		wb-title="Collapse"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderSpacing"
		ng-change="ctrl.setStyle('borderSpacing', ctrl.stylesValue.borderSpacing)"
		wb-title="Spacing"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Top</legend>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderTop"
		ng-change="ctrl.setStyle('borderTop', ctrl.stylesValue.borderTop)"
		wb-title="Top"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderTopWidth"
		ng-change="ctrl.setStyle('borderTopWidth', ctrl.stylesValue.borderTopWidth)"
		wb-title="Width"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderTopStyle"
		ng-change="ctrl.setStyle('borderTopStyle', ctrl.stylesValue.borderTopStyle)"
		wb-title="Style"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-color
		ng-model="ctrl.stylesValue.borderTopColor"
		ng-change="ctrl.setStyle('borderTopColor', ctrl.stylesValue.borderTopColor)"
		wb-title="Color"
		wb-description="">
	</wb-ui-setting-color>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Right</legend>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderRight"
		ng-change="ctrl.setStyle('borderRight', ctrl.stylesValue.borderRight)"
		wb-title="Right"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderRightWidth"
		ng-change="ctrl.setStyle('borderRightWidth', ctrl.stylesValue.borderRightWidth)"
		wb-title="Width"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderRightStyle"
		ng-change="ctrl.setStyle('borderRightStyle', ctrl.stylesValue.borderRightStyle)"
		wb-title="Style"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-color
		ng-model="ctrl.stylesValue.borderRightColor"
		ng-change="ctrl.setStyle('borderRightColor', ctrl.stylesValue.borderRightColor)"
		wb-title="Color"
		wb-description="">
	</wb-ui-setting-color>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Bottom</legend>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderBottom"
		ng-change="ctrl.setStyle('borderBottom', ctrl.stylesValue.borderBottom)"
		wb-title="Bottom"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderBottomWidth"
		ng-change="ctrl.setStyle('borderBottomWidth', ctrl.stylesValue.borderBottomWidth)"
		wb-title="Width"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderBottomStyle"
		ng-change="ctrl.setStyle('borderBottomStyle', ctrl.stylesValue.borderBottomStyle)"
		wb-title="Style"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-color
		ng-model="ctrl.stylesValue.borderBottomColor"
		ng-change="ctrl.setStyle('borderBottomColor', ctrl.stylesValue.borderBottomColor)"
		wb-title="Color"
		wb-description="">
	</wb-ui-setting-color>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Left</legend>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderLeft"
		ng-change="ctrl.setStyle('borderLeft', ctrl.stylesValue.borderLeft)"
		wb-title="Left"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderLeftWidth"
		ng-change="ctrl.setStyle('borderLeftWidth', ctrl.stylesValue.borderLeftWidth)"
		wb-title="Width"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderLeftStyle"
		ng-change="ctrl.setStyle('borderLeftStyle', ctrl.stylesValue.borderLeftStyle)"
		wb-title="Style"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-color
		ng-model="ctrl.stylesValue.borderLeftColor"
		ng-change="ctrl.setStyle('borderLeftColor', ctrl.stylesValue.borderLeftColor)"
		wb-title="Color"
		wb-description="">
	</wb-ui-setting-color>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Radius</legend>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderRadius"
		ng-change="ctrl.setStyle('borderRadius', ctrl.stylesValue.borderRadius)"
		wb-title="Radius"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderTopRightRadius"
		ng-change="ctrl.setStyle('borderTopRightRadius', ctrl.stylesValue.borderTopRightRadius)"
		wb-title="Top Right"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderTopLeftRadius"
		ng-change="ctrl.setStyle('borderTopLeftRadius', ctrl.stylesValue.borderTopLeftRadius)"
		wb-title="Top Left"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderBottomLeftRadius"
		ng-change="ctrl.setStyle('borderBottomLeftRadius', ctrl.stylesValue.borderBottomLeftRadius)"
		wb-title="Bottom Left"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderBottomRightRadius"
		ng-change="ctrl.setStyle('borderBottomRightRadius', ctrl.stylesValue.borderBottomRightRadius)"
		wb-title="Bottom Right"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Image</legend>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderImage"
		ng-change="ctrl.setStyle('borderImage', ctrl.stylesValue.borderImage)"
		wb-title="Image"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderImageSource"
		ng-change="ctrl.setStyle('borderImageSource', ctrl.stylesValue.borderImageSource)"
		wb-title="Source"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderImageSlice"
		ng-change="ctrl.setStyle('borderImageSlice', ctrl.stylesValue.borderImageSlice)"
		wb-title="Slice"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderImageWidth"
		ng-change="ctrl.setStyle('borderImageWidth', ctrl.stylesValue.borderImageWidth)"
		wb-title="Width"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderImageOutset"
		ng-change="ctrl.setStyle('borderImageOutset', ctrl.stylesValue.borderImageOutset)"
		wb-title="Outset"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.borderImageRepeat"
		ng-change="ctrl.setStyle('borderImageRepeat', ctrl.stylesValue.borderImageRepeat)"
		wb-title="Repeat"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Outline</legend>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.outline"
		ng-change="ctrl.setStyle('outline', ctrl.stylesValue.outline)"
		wb-title="Outline"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.outlineOffset"
		ng-change="ctrl.setStyle('outlineOffset', ctrl.stylesValue.outlineOffset)"
		wb-title="Offset"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.outlineWidth"
		ng-change="ctrl.setStyle('outlineWidth', ctrl.stylesValue.outlineWidth)"
		wb-title="Width"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.outlineStyle"
		ng-change="ctrl.setStyle('outlineStyle', ctrl.stylesValue.outlineStyle)"
		wb-title="Style"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-color
		ng-model="ctrl.stylesValue.outlineColor"
		ng-change="ctrl.setStyle('outlineColor', ctrl.stylesValue.outlineColor)"
		wb-title="Color"
		wb-description="">
	</wb-ui-setting-color>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Box</legend>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.boxDecorationBreak"
		ng-change="ctrl.setStyle('boxDecorationBreak', ctrl.stylesValue.boxDecorationBreak)"
		wb-title="Decoration Break"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.boxShadow"
		ng-change="ctrl.setStyle('boxShadow', ctrl.stylesValue.boxShadow)"
		wb-title="Shadow"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.boxSizing"
		ng-change="ctrl.setStyle('boxSizing', ctrl.stylesValue.boxSizing)"
		wb-title="Sizing"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>






