<fieldset
	layout="column">
	<legend translate>Size</legend>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.resize"
		ng-change="ctrl.setStyle('resize', ctrl.stylesValue.resize)"
		wb-title="resize"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.height"
		ng-change="ctrl.setStyle('height', ctrl.stylesValue.height)"
		wb-title="height"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.maxHeight"
		ng-change="ctrl.setStyle('maxHeight', ctrl.stylesValue.maxHeight)"
		wb-title="maxHeight"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.minHeight"
		ng-change="ctrl.setStyle('minHeight', ctrl.stylesValue.minHeight)"
		wb-title="minHeight"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.width"
		ng-change="ctrl.setStyle('width', ctrl.stylesValue.width)"
		wb-title="width"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.maxWidth"
		ng-change="ctrl.setStyle('maxWidth', ctrl.stylesValue.maxWidth)"
		wb-title="maxWidth"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.minWidth"
		ng-change="ctrl.setStyle('minWidth', ctrl.stylesValue.minWidth)"
		wb-title="minWidth"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>
 <fieldset
	layout="column">
	<legend translate>Margin</legend>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.margin"
		ng-change="ctrl.setStyle('margin', ctrl.stylesValue.margin)"
		wb-title="margin"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.marginTop"
		ng-change="ctrl.setStyle('marginTop', ctrl.stylesValue.marginTop)"
		wb-title="Margin Top"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.marginRight"
		ng-change="ctrl.setStyle('marginRight', ctrl.stylesValue.marginRight)"
		wb-title="margin Right"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.marginBottom"
		ng-change="ctrl.setStyle('marginBottom', ctrl.stylesValue.marginBottom)"
		wb-title="margin Bottom"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.marginLeft"
		ng-change="ctrl.setStyle('marginLeft', ctrl.stylesValue.marginLeft)"
		wb-title="margin left"
		wb-description="">
	</wb-ui-setting-text>
	
</fieldset>
 <fieldset
	layout="column">
	<legend translate>Padding</legend>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.padding"
		ng-change="ctrl.setStyle('padding', ctrl.stylesValue.padding)"
		wb-title="padding"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.paddingTop"
		ng-change="ctrl.setStyle('paddingTop', ctrl.stylesValue.paddingTop)"
		wb-title="padding Top"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.paddingRight"
		ng-change="ctrl.setStyle('paddingRight', ctrl.stylesValue.paddingRight)"
		wb-title="padding Right"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.paddingBottom"
		ng-change="ctrl.setStyle('paddingBottom', ctrl.stylesValue.paddingBottom)"
		wb-title="padding Bottom"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.stylesValue.paddingLeft"
		ng-change="ctrl.setStyle('paddingLeft', ctrl.stylesValue.paddingLeft)"
		wb-title="padding left"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>