
<fieldset
	layout="column">
	<legend translate>Link</legend>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.download"
		ng-change="ctrl.setAttribute('download', ctrl.attributesValue.download)"
		wb-title="Download"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.href"
		ng-change="ctrl.setAttribute('href', ctrl.attributesValue.href)"
		wb-title="Refrence"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.download"
		ng-change="ctrl.setAttribute('download', ctrl.attributesValue.download)"
		wb-title="Align"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.hreflang"
		ng-change="ctrl.setAttribute('hreflang', ctrl.attributesValue.hreflang)"
		wb-title="Language"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.media"
		ng-change="ctrl.setAttribute('media', ctrl.attributesValue.media)"
		wb-title="Media"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.ping"
		ng-change="ctrl.setAttribute('ping', ctrl.attributesValue.ping)"
		wb-title="Ping"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.referrerpolicy"
		ng-change="ctrl.setAttribute('referrerpolicy', ctrl.attributesValue.referrerpolicy)"
		wb-title="referrerpolicy"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.rel"
		ng-change="ctrl.setAttribute('rel', ctrl.attributesValue.rel)"
		wb-title="rel"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.target"
		ng-change="ctrl.setAttribute('target', ctrl.attributesValue.target)"
		wb-title="target"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.aType"
		ng-change="ctrl.setAttribute('aType', ctrl.attributesValue.aType)"
		wb-title="type"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>









