<fieldset
	layout="column">
	<legend translate>Image</legend>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.alt"
		ng-change="ctrl.setAttribute('alt', ctrl.attributesValue.alt)"
		wb-title="alt"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.crossorigin"
		ng-change="ctrl.setAttribute('crossorigin', ctrl.attributesValue.crossorigin)"
		wb-title="crossorigin"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.longdesc"
		ng-change="ctrl.setAttribute('longdesc', ctrl.attributesValue.longdesc)"
		wb-title="longdesc"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>
<fieldset
	layout="column">
	<legend translate>Source</legend>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.src"
		ng-change="ctrl.setAttribute('src', ctrl.attributesValue.src)"
		wb-title="src"
		wb-description="Path of the image"
		wb-resource-type="image-url">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.hspace"
		ng-change="ctrl.setAttribute('hspace', ctrl.attributesValue.hspace)"
		wb-title="hspace"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>
<fieldset
	layout="column">
	<legend translate>Map</legend>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.ismap"
		ng-change="ctrl.setAttribute('ismap', ctrl.attributesValue.ismap)"
		wb-title="ismap"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.usemap"
		ng-change="ctrl.setAttribute('usemap', ctrl.attributesValue.usemap)"
		wb-title="usemap"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>
<fieldset
	layout="column">
	<legend translate>Size</legend>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.size"
		ng-change="ctrl.setAttribute('size', ctrl.attributesValue.size)"
		wb-title="size"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.height"
		ng-change="ctrl.setAttribute('height', ctrl.attributesValue.height)"
		wb-title="height"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.width"
		ng-change="ctrl.setAttribute('width', ctrl.attributesValue.width)"
		wb-title="width"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>
