<fieldset
	layout="column">
	<legend translate>Data Validation</legend>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.accept"
		ng-change="ctrl.setAttribute('accept', ctrl.attributesValue.accept)"
		wb-title="accept"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.alt"
		ng-change="ctrl.setAttribute('alt', ctrl.attributesValue.alt)"
		wb-title="alt"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.autocomplete"
		ng-change="ctrl.setAttribute('autocomplete', ctrl.attributesValue.autocomplete)"
		wb-title="autocomplete"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.autofocus"
		ng-change="ctrl.setAttribute('autofocus', ctrl.attributesValue.autofocus)"
		wb-title="autofocus"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.checked"
		ng-change="ctrl.setAttribute('checked', ctrl.attributesValue.checked)"
		wb-title="checked"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.dirname"
		ng-change="ctrl.setAttribute('dirname', ctrl.attributesValue.dirname)"
		wb-title="dirname"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.disabled"
		ng-change="ctrl.setAttribute('disabled', ctrl.attributesValue.disabled)"
		wb-title="disabled"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.list"
		ng-change="ctrl.setAttribute('list', ctrl.attributesValue.list)"
		wb-title="list"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.max"
		ng-change="ctrl.setAttribute('max', ctrl.attributesValue.max)"
		wb-title="max"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.maxlength"
		ng-change="ctrl.setAttribute('maxlength', ctrl.attributesValue.maxlength)"
		wb-title="maxlength"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.min"
		ng-change="ctrl.setAttribute('min', ctrl.attributesValue.min)"
		wb-title="min"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.multiple"
		ng-change="ctrl.setAttribute('multiple', ctrl.attributesValue.multiple)"
		wb-title="multiple"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.name"
		ng-change="ctrl.setAttribute('name', ctrl.attributesValue.name)"
		wb-title="name"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.pattern"
		ng-change="ctrl.setAttribute('pattern', ctrl.attributesValue.pattern)"
		wb-title="pattern"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.placeholder"
		ng-change="ctrl.setAttribute('placeholder', ctrl.attributesValue.placeholder)"
		wb-title="placeholder"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.readonly"
		ng-change="ctrl.setAttribute('readonly', ctrl.attributesValue.readonly)"
		wb-title="readonly"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.required"
		ng-change="ctrl.setAttribute('required', ctrl.attributesValue.required)"
		wb-title="required"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.src"
		ng-change="ctrl.setAttribute('src', ctrl.attributesValue.src)"
		wb-title="src"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.step"
		ng-change="ctrl.setAttribute('step', ctrl.attributesValue.step)"
		wb-title="step"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.inputType"
		ng-change="ctrl.setAttribute('inputType', ctrl.attributesValue.inputType)"
		wb-title="type"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.value"
		ng-change="ctrl.setAttribute('value', ctrl.attributesValue.value)"
		wb-title="value"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Form</legend>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.form"
		ng-change="ctrl.setAttribute('form', ctrl.attributesValue.form)"
		wb-title="form"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.formaction"
		ng-change="ctrl.setAttribute('formaction', ctrl.attributesValue.formaction)"
		wb-title="formaction"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.formenctype"
		ng-change="ctrl.setAttribute('formenctype', ctrl.attributesValue.formenctype)"
		wb-title="formenctype"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.formmethod"
		ng-change="ctrl.setAttribute('formmethod', ctrl.attributesValue.formmethod)"
		wb-title="formmethod"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.formnovalidate"
		ng-change="ctrl.setAttribute('formnovalidate', ctrl.attributesValue.formnovalidate)"
		wb-title="formnovalidate"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.formtarget"
		ng-change="ctrl.setAttribute('formtarget', ctrl.attributesValue.formtarget)"
		wb-title="formtarget"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Size</legend>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.size"
		ng-change="ctrl.setAttribute('size', ctrl.attributesValue.size)"
		wb-title="size"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.height"
		ng-change="ctrl.setAttribute('height', ctrl.attributesValue.height)"
		wb-title="height"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.width"
		ng-change="ctrl.setAttribute('width', ctrl.attributesValue.width)"
		wb-title="width"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>


