<fieldset
	layout="column">
	<legend translate>audio</legend>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.autoplay"
		ng-change="ctrl.setAttribute('autoplay', ctrl.attributesValue.autoplay)"
		wb-title="autoplay"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.controls"
		ng-change="ctrl.setAttribute('controls', ctrl.attributesValue.controls)"
		wb-title="controls"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.loop"
		ng-change="ctrl.setAttribute('loop', ctrl.attributesValue.loop)"
		wb-title="loop"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.muted"
		ng-change="ctrl.setAttribute('muted', ctrl.attributesValue.muted)"
		wb-title="muted"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.preload"
		ng-change="ctrl.setAttribute('preload', ctrl.attributesValue.preload)"
		wb-title="preload"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.src"
		ng-change="ctrl.setAttribute('src', ctrl.attributesValue.src)"
		wb-title="src"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>
