<fieldset
	layout="column">
	<legend translate>Form</legend>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.acceptCharset"
		ng-change="ctrl.setAttribute('acceptCharset', ctrl.attributesValue.acceptCharset)"
		wb-title="acceptCharset"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.action"
		ng-change="ctrl.setAttribute('action', ctrl.attributesValue.action)"
		wb-title="action"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.autocomplete"
		ng-change="ctrl.setAttribute('autocomplete', ctrl.attributesValue.autocomplete)"
		wb-title="autocomplete"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.off"
		ng-change="ctrl.setAttribute('off', ctrl.attributesValue.off)"
		wb-title="off"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.enctype"
		ng-change="ctrl.setAttribute('enctype', ctrl.attributesValue.enctype)"
		wb-title="enctype"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.method"
		ng-change="ctrl.setAttribute('method', ctrl.attributesValue.method)"
		wb-title="method"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.name"
		ng-change="ctrl.setAttribute('name', ctrl.attributesValue.name)"
		wb-title="name"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.novalidate"
		ng-change="ctrl.setAttribute('novalidate', ctrl.attributesValue.novalidate)"
		wb-title="novalidate"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.attributesValue.target"
		ng-change="ctrl.setAttribute('target', ctrl.attributesValue.target)"
		wb-title="target"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>

