<md-tabs
	flex=""
	ng-if="workbenchEditorLoaded">
	<md-tab
		id="content-setting-style">
		<md-tab-label>
			<wb-icon>color_lens</wb-icon>
		</md-tab-label>
		<md-tab-body>
			<md-content 
				flex>
				<wb-setting-panel-group 
					id="content-editor-setting"
					ng-model="workbenchSelectedWidgets">
				</wb-setting-panel-group>
			</md-content>
		</md-tab-body>
	</md-tab>
	<md-tab
		id="content-setting-events">
		<md-tab-label>
			<wb-icon>flash_on</wb-icon>
		</md-tab-label>
		<md-tab-body>
			<md-content 
				flex>
				<wb-event-panel 
					ng-model="workbenchSelectedWidgets">
				</wb-event-panel>
			</md-content>
		</md-tab-body>
	</md-tab>
	<md-tab
		id="content-setting-widgets">
		<md-tab-label>
			<wb-icon>photo_album</wb-icon>
		</md-tab-label>
		<md-tab-body>
			<md-content 
				flex>
				<amh-user-widgets 
					id="content-editor-user-widgets">
				</amh-user-widgets>
			</md-content>
		</md-tab-body>
	</md-tab>
	<md-tab
		id="content-setting-json">
		<md-tab-label>
			<wb-icon>edit</wb-icon>
		</md-tab-label>
		<md-tab-body
			layout="columne">
			<md-content 
				ng-controller="StudioWidgetJsonEditorCtrl as ctrl"
				flex
				style="height: 100%;"></md-content>
		</md-tab-body>
	</md-tab>
</md-tabs>
